/* Common resources shared among all pages */

@font-face {
    font-family: Oswald Extra Light;
    src: url(../resources/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: Oswald Light;
    src: url(../resources/fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: Oswald Medium;
    src: url(../resources/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: Raleway Medium;
    src: url(../resources/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway Light;
    src: url(../resources/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway Extra Light;
    src: url(../resources/fonts/Raleway-ExtraLight.ttf);
}

:root {
    --logo-blue: #16436a;
    --brighter-logo-blue: #125c9c;
    --charcoal-grey: #323232;
    --lighter-background-grey: #efefef;
    --background-grey: #dddddd;
    --message-background-grey: #eaeaea;
    --error-box-red: #ff6961;
    --cta-red: #d44626;
    --songbank-cta: #5ABCB9;
}