/* body CSS rules can be found in /resources/navbar.js */

#songbank_container {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, max-content) auto;
}

#songbank_title_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, max-content);
}

#songbank_title {
    font-family: Raleway Light;
    font-size: 32pt;
    font-weight: 300;
    justify-self: center;
    text-align: center;
    color: black;
}

#songbank_title_divider {
    width: 30%;
    justify-self: center;
    border-bottom: 3px solid var(--background-grey);
}

#filter_container {
    background-color: #f9f9f9;
    margin-top: 50px;
    width: 85%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
}

#filter_title {
    font-family: Raleway Light;
    font-size: 26pt;
    font-weight: 600;
    color: var(--songbank-cta);
    grid-column: 1 / -1;
    justify-self: center;
}

.filter_button {
    font-family: Raleway Light;
    font-size: 26pt;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    background-color: white;
    color: var(--songbank-cta);
    justify-self: center;
    margin-bottom: 25px;
    border: 1.5px solid var(--songbank-cta);
    transition: color, background-color 0.2s ease-in;
}

.filter_button:not(.active_filter_button):hover {
    cursor: pointer;
    background-color: var(--songbank-cta);
    color: white;
    font-weight: 700;
}

.active_filter_button {
    background-color: var(--songbank-cta);
    color: white;
    font-weight: 700;
}

#alphabetical_sort_container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: max-content;
    overflow: auto;
    margin-bottom: 50px;
}

#alphabetical_choice_container {
    width: 60%;
    justify-self: center;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 100px repeat(26, 80px) 125px;
    grid-template-rows: minmax(50px, 1fr);
    overflow-x: scroll;
    height: 125px;
}

.alphabetical_choice {
    font-family: Raleway Light;
    font-size: 30pt;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 0.1s ease-in;
    -webkit-user-select: none;
}

.alphabetical_choice:not(.active_alphabetical_choice):hover {
    cursor: pointer;
    font-size: 34pt;
    color: var(--songbank-cta);
}

.active_alphabetical_choice {
    font-size: 30pt;
    font-family: Raleway Regular;
    color: var(--songbank-cta);
}

#alphabetical_choice_container::-webkit-scrollbar {
    height: 7px;
}

#alphabetical_choice_container::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
#alphabetical_choice_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 25px;
}

.sort_display_header {
    margin-top: 75px;
    width: 85%;
    justify-self: center;
    display: none;
    opacity: 0;
    grid-template-rows: max-content;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--songbank-cta);
    padding-left: 15px;
    padding-right: 15px;
}

.sort_display_header > h1 {
    margin: 0;
    justify-self: right;
    color: white;
    font-family: Raleway Regular;
    font-size: 28pt;
}

.sort_display_header_toggle {
    margin-left: 25px;
    align-self: center;
    transition: transform 0.2s ease-in;
}

.sort_display_header_toggle:hover {
    cursor: pointer;
}

.songbank_display_container {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: max-content;
    overflow-y: hidden;
}

.songbank_display_table_header {
    margin-top: 10px;
    display: grid;
    background-color: #2E3E4A;
    padding: 15px;
    width: 85%;
    justify-self: center;
}

.songbank_display_table_header > h1 {
    font-family: Raleway Light;
    font-size: 24pt;
    margin: 0;
    color: white;
}

.alphabetical_display_table_header {
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
}

.alphabetical_display_container {
    display: none;
    opacity: 0;
}

.songbank_display_song {
    width: 85%;
    justify-self: center;
    display: grid;
    padding: 15px;
}

.alphabetical_display_song {
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
}

.alphabetical_display_song:hover {
    cursor: pointer;
}

.alphabetical_display_song:nth-of-type(even) {
    background-color: #f9f9f9;
}

.alphabetical_display_song:nth-of-type(odd) {
    background-color: #d3d3d3;
}

.alphabetical_display_song > h1 {
    font-family: Raleway Light;
    font-size: 20pt;
    margin: 0;
    align-self: center;
}

#no_results_song_detail_container {
    justify-self: center;
    align-self: center;
    margin-top: 125px;
    display: none;
    opacity: 0;
}

#no_results_song_detail_container > h1 {
    font-family: Raleway Light;
    font-size: 36pt;
    font-weight: 300;
}